.gitignore
.spyderproject
.pydevproject
*.*~
quickCommit.bash
lsync.conf*
.Rhistory
.project
.git/
build/
doc/build
my_workflows/gatk/data/
.metadata/
migrations/
.settings/
.ropeproject/
*.pyc
*.swp
venv/
