{% extends "base.html" %}
{%block content%}

<h1>Workflows</h1>
	<table class="table table-hover table-condensed">
	    <tbody><tr>
	        <th>Name</th>
	        <th>Created On</th>
            <th>Finished On</th>
            <th>Wall Time</th>
            <th>Total Stage Time</th>
	    </tr>
        {% for workflow in workflows %}
            <tr>
                <td><a href="{{workflow.url}}"><strong>{{ workflow }}</strong></a></td>
                <td>{{workflow.created_on|date:"SHORT_DATETIME_FORMAT"}}</td>
                <td>{{workflow.finished_on|date:"SHORT_DATETIME_FORMAT"}}</td>
                <td>{{workflow.wall_time}}</td>
                <td>{{workflow.total_stage_wall_time}}</td>
                </tr>
        {% endfor %}
    </tbody>
	</table>
{%endblock%}