{% extends "base.html" %}
{% load url from future %}
{% load extras %}
{%block content%}

<ul class="breadcrumb">
  <li><a href="/Workflow/">Workflows</a> <span class="divider">/</span></li>
  <li class="active">{{workflow}}</li>
</ul>

<h1>{{workflow}}</h1>
<p>
	
	<a href="{% url 'workflow_view_log' workflow.id %}"><button class="btn btn-inverse"><i class="icon-search icon-white"></i> Log</button></a>
	
	<a href="{% url 'workflow_analysis' workflow.id %}"><button class="btn btn-inverse"><i class="icon-wrench icon-white"></i> Analyze</button></a>
</p>
{% for batch in batches_ordered %}
	{% if batch.order_in_workflow %}
	{%include "Workflow/Batch/batch.html"%}
	{% endif %}
{% endfor %}
{% for batch in batches_ordered %}
	{% if batch.order_in_workflow == None %}
	{%include "Workflow/Batch/batch.html"%}
	{% endif %}
{% endfor %}
{%endblock%}