{% extends "base.html" %}
{% load url from future %}
{% load extras %}

{% block head %}
    <script type="text/javascript">
    $(document).ready(function(){
        update_html = function(selector,url){
            //updates selector with the html from url every second
                jQuery.ajax({
                     url:    url,
                     success: function(result) {
                                  $(selector).html(result),
                                  setTimeout("update_html('"+selector+"','"+url+"')",1000)
                              },
                     async:   true,
                }); 
            }
        update_html('#batches','{% url 'workflow_batch_table' workflow.id %}')
    });
    </script>
{% endblock %}
{%block content%}

<ul class="breadcrumb">
  <li><a href="/Workflow/">Workflows</a> <span class="divider">/</span></li>
  <li class="active">{{workflow}}</li>
</ul>

<h1>{{workflow}}
	<a href="{% url 'workflow_view_log' workflow.id %}"><button class="btn btn-info"><i class="icon-search icon-white"></i> Log</button></a>
	<a href="{% url 'workflow_analysis' workflow.id %}"><button class="btn btn-info"><i class="icon-wrench icon-white"></i> Analyze</button></a>
</h1>

<dl class="dl-horizontal">
<dt>Output Dir</dt><dd>{{workflow.output_dir}}</dd>
<dt>Default Queue</dt><dd>{{workflow.default_queue}}</dd>
<dt>Created on</dt><dd>{{workflow.created_on}}</dd>
<dt>Finished on</dt><dd>{{workflow.finished_on}}</dd>
<dt>Wall Time</dt><dd>{{workflow.wall_time}}</dd>
</dl>

<p><h3>Batches</h3>
</p>
<div id="batches">
{%with batches=batches_ordered%}
    {%include "Workflow/Batch/table.html"%}
{%endwith%}
</div>
{%endblock%}