{% extends "base.html" %}
{% load url from future %}
{% load extras %}

{% block head %}
{% endblock %}
{%block content%}


<ul class="breadcrumb">
  <li><a href="{% url "cosmos_index" %}">Workflows</a> <span class="divider">/</span></li>
  <li><a href="{{workflowDAG.workflow.url }}">{{workflowDAG.workflow}}</a> <span class="divider">/</span></li>
  <li class="active">Visualize</li>
</ul>

<h2>Resolution: {{resolution}}</h2>

<a href="{% url 'workflow_visualize' workflowDAG.workflow.id other_resolution %}">Change resolution to <b>{{other_resolution}}</b></a>

<hr>
<embed src="{% url 'visualize_as_img' workflowDAG.workflow.id resolution %}" type="image/svg+xml"></embed>


{{workflowDAGx}}

{%endblock%}