{% load extras %}
<div class="alert alert-info">
	<a href="{{batch.url}}">
    <h3>
	    {{batch.order_in_workflow}}. {{batch}}
	    {%if batch.status == "successful"%}<i class="icon-thumbs-up" rel="tooltip" title="Successful"></i>{%endif%}
	    {%if batch.status == "failed"%}<i class="icon-thumbs-down" rel="tooltip" title="Failed"></i>{%endif%}
	    {%if batch.status == "in_progress"%}<i class="icon-refresh" rel="tooltip" title="In Progress"></i>{%endif%}
    </h3>
   </a>
<p>
	<div class="progress progress-{% status2csstype batch.status %} progress-striped" rel="tooltip" title="{{batch.percent_done}}% Completed" data-placement="right">
		<div class="bar" style="opacity:.75;width:{{batch.percent_done}}%"%></div>
	</div>
	Nodes: {{batch.numNodes}},
	status: {{batch.status}},
	max job time: {{batch.max_job_time|format_time}},
	total job time: {{batch.total_job_time|format_time}}{% if details %},
	successful: {{batch.successful}},
	file_size: {{batch.file_size}}
	{% endif %}
</p>
</div>