{% extends "base.html" %}
{% load extras %}


{%block style%}
    ul.dropdown-form {
      list-style-type: none; 
      list-style: none outside none;
      line-height: 20px;
      padding-right:25px;
      text-align:right
    }
    ul.dropdown-form >li {
      margin:5px;
    }
{%endblock%}

{%block content%}

<ul class="breadcrumb">
  <li><a href="/Workflow/">Workflows</a> <span class="divider">/</span></li>
  <li><a href="{{batch.workflow.url }}">{{batch.workflow}}</a> <span class="divider">/</span></li>
  <li class="active">{{batch}}</li>
</ul>
{% with details=1 batches=batch|aslist%}
{%include "Workflow/Batch/batches.html"%}
{% endwith %}
<div class="dropdown">
    <h3 style="display:inline" class="dropdown-toggle" data-toggle="dropdown">
        Nodes
        <button class="btn btn-small">Filter
        <span class="caret"></span>
        </button>
    </h3>
   
    <div class="dropdown dropdown-menu">
    <form method="GET" action="{{ request.url }}" class="form-inline">
        <input type="hidden" name="filter" value="True"/>
        {% csrf_token %}
        <ul class="dropdown-form">
            {% for key,values in filter_choices.items %}
            <li>
            <label class="control-label" for="id_{{key}}">{%if key == "f_status"%}status{%else%}{{key}}{%endif%}</label>
            <select id="id_{{key}}" name="{{key}}">
                    <option value="{{v}}"{%if current_filters.key == "" %}selected="selected"{%endif%}></option>
                {%for v in values%}
                    <option value="{{v}}"{%if current_filters|key2val:key == v %}selected="selected"{%endif%}>{{v}}</option>
                {%endfor%}
            </select>
            </li>
            {%endfor%}
            <li class="divider">
            </li>
            <li>
            <input type="submit" value="filter" class="btn">
            </li>
        </ul>
    </form>
    </div>
</div>
<br/>


{% if paged_nodes.paginator.num_pages > 1 %}
	{% if paged_nodes.paginator.page_range|length <= 10 %}
	<div class="pagination">
	{%else%}
	<div class="pagination_big">
	{%endif%}
	    <span class="step-links">
	        <ul>
	        {% if paged_nodes.has_previous %}
	            <li><a href="?page={{ paged_nodes.previous_page_number }}{{filter_url}}">«</a></li>
	        {% endif %}
	        {% for pagenum in paged_nodes.paginator.page_range%}
	            <li {%if pagenum == paged_nodes.number%}class="active"{%endif%}><a href="?page={{pagenum}}{{filter_url}}">{{pagenum|add:"-1"|mult:page_size|add:"1"}} -
				{%if forloop.last %} {{paged_nodes.paginator.count}}
				{%else%}
				 {{pagenum|mult:page_size}}{%endif%}</a>{% if paged_nodes.paginator.page_range|length > 10 %}, {%endif%}</li>
	        	{%endfor %}
	
	        {% if paged_nodes.has_next %}
	            <li><a href="?page={{ paged_nodes.next_page_number }}{{filter_url}}">»</a></li>
	        {% endif %}
	        </ul>
	    </span>
	</div>
{% endif %}

<table class="table table-hover table-striped">
{% for node in paged_nodes %}
    <tr><td>
        {%if node.successful%}<i class="icon-thumbs-up" rel="tooltip" title="Successful"></i>{%endif%}
        {%if node.status == "failed"%}<i class="icon-thumbs-down" rel="tooltip" title="Failed"></i>{%endif%}
        <strong><a href="{{node.url}}" style="color:#C09853">{{node}}</a></strong>
        (status: {{node.status}}, 
        file_size: {%if settings.show_batch_file_sizes%}{{node.file_size}}{%else%}{{node.file_size}}{%endif%}, 
        time_to_run: {{node.time_to_run|format_time}}, 
        successful: {{node.successful}})
        <ul>
        {% for j in node.jobAttempts %}
            <li style="list-style-type:none">
                {% with qs=j.queue_status %}
                    {%if j.successful%}<i class="icon-thumbs-up" rel="tooltip" title="Successful"></i>{%else%}
	                {%if qs == "completed"%}<i class="icon-thumbs-down" rel="tooltip" title="Successful"></i>{%endif%}{%endif%}
	                {%if qs == 'queued'%}<i class="icon-time" rel="tooltip" title="Job is Queued"></i>
	                	{%with ds=j.get_drmaa_status %}
			                {%if ds == 'job is running'%}<i class="icon-refresh" rel="tooltip" title="Job is running"></i>{%endif%}
		                    {%if ds == 'not sure'%}<i class="icon-question-sign" rel="tooltip" title="Not sure"></i>{%endif%}
	                	{% endwith%}
	                {%endif%}
                {% endwith%}
                <a href="{{j.url}}">{{ j }}</a>
            </li>
        {% empty %}
          No job attempts in this node.
        {% endfor %}
        </ul>
    </td></tr>
{% empty %}
  No nodes.
{% endfor %}
</table>

{% endblock %}