{% extends "base.html" %}
{% load extras %}
{% load url from future %}

{%block style%}
    ul.dropdown-form {
      list-style-type: none; 
      list-style: none outside none;
      line-height: 20px;
      padding-right:25px;
      text-align:right
    }
    ul.dropdown-form >li {
      margin:5px;
    }
{%endblock%}

{% block head %}
    <script type="text/javascript">
    $(document).ready(function() {
        update_html = function(selector,urlfunc){
            //updates selector with the html from url every second
                jQuery.ajax({
                     url:    urlfunc(),
                     success: function(result) {
                                  $(selector).html(result)
                                  setTimeout("update_html('"+selector+"',"+urlfunc+")",1000)
                              },
                     async:   true,
                }); 
            }
        // url_batch_table = function() { return '{% url 'batch_table' batch.id %}' }
        // update_html('#batch_table',url_batch_table)
        // url_node_table = function() { return '{% url 'batch_node_table' batch.id %}?'+$('#filter_form').serialize() }
        // update_html('#node_table',url_node_table)
        
        //Filter Submit Button
        $('#filter_submit').click(function() {
            $('#filter_dropdown-toggle').dropdown('toggle')
            $('#node_table').load('{% url 'batch_node_table' batch.id %}?'+$('#filter_form').serialize() );
            return false;
        });
    });
    </script>
{% endblock %}

{%block content%}
    <ul class="breadcrumb">
      <li><a href="/Workflow/">Workflows</a> <span class="divider">/</span></li>
      <li><a href="{{batch.workflow.url }}">{{batch.workflow}}</a> <span class="divider">/</span></li>
      <li class="active">{{batch}}</li>
    </ul>
    
    <div id="batch_table">
        {% with details=1 batches=batch|aslist%}
        {%include "Workflow/Batch/table.html"%}
        {% endwith %}
    </div>

    <div class="dropdown">
        <h3 style="display:inline" class="dropdown-toggle" data-toggle="dropdown"  id="filter_dropdown-toggle">
            Nodes
            <button class="btn btn-small">Filter
            <span class="caret"></span>
            </button>
        </h3>
       
        <div class="dropdown dropdown-menu" role="menu"  aria-labelledby="dLabel">
        <form method="GET" action="{{ request.url }}" class="form-inline" id="filter_form">
            <input type="hidden" name="filter" value="True"/>
            {% csrf_token %}
            <ul class="dropdown-form">
                {% for key,values in filter_choices.items %}
                <li>
                <label class="control-label" for="id_{{key}}">{%if key == "f_status"%}status{%else%}{{key}}{%endif%}</label>
                <select id="id_{{key}}" name="{{key}}">
                        <option value="{{v}}"{%if current_filters.key == "" %}selected="selected"{%endif%}></option>
                    {%for v in values%}
                        <option value="{{v}}"{%if current_filters|key2val:key == v %}selected="selected"{%endif%}>{{v}}</option>
                    {%endfor%}
                </select>
                </li>
                {%endfor%}
                <li class="divider">
                </li>
                <li>
                <input type="submit" value="filter" class="btn" id="filter_submit">
                </li>
            </ul>
        </form>
        </div>
    </div>
    <br/>

    <div id="node_table">
        {% include "Workflow/Node/table.html" %}
    </div>

{% endblock %}