{% extends "base.html" %}
{% load extras %}
{%block content%}

<ul class="breadcrumb">
  <li><a href="/Workflow/">Workflows</a> <span class="divider">/</span></li>
  <li><a href="{{task.stage.workflow.url }}">{{task.stage.workflow}}</a> <span class="divider">/</span></li>
  <li><a href="{{task.stage.url }}">{{task.stage}}</a><span class="divider">/</span></li>
  <li class="active">{{task}}</li>
</ul>

<div class="alert {%if task.successful%}alert-success{%endif%}">
    <h1>
        {%if task.successful%}<i class="icon-thumbs-up" rel="tooltip" title="Successful"></i>{%endif%}
        {%if task.status == "failed"%}<i class="icon-thumbs-down" rel="tooltip" title="Failed"></i>{%endif%}
        {{task}}
    </h1>
<strong>Tags</strong>: 
{% for k,v in task.tags.items %}
<span class="label label-important">{{k}}:{{v}}</span>
{% endfor %}
</div>
<dl class="dl-horizontal">
<dt>Status</dt><dd>{{task.status}}</dd>
<dt>Parents</dt><dd>
	{%for parent in task.parents%}
	<a href="{{parent.url}}">{{parent}}{%if not forloop.last%},{%endif%}</a>
	{%empty%}None{%endfor%}
</dd>
<dt>Output Files</dt><dd>
	{%for of in task.output_files%}
	<a href="{{of.url}}">{{of}}{%if not forloop.last%},{%endif%}</a>
	{%empty%}None{%endfor%}
</dd>
<dt>Memory Requirement</dt><dd>{{task.memory_requirement}}MB</dd>
<dt>File_size</dt><dd>{%if settings.show_task_file_sizes%}{{task.file_size}}{%else%}off{%endif%}</dd>
<dt>Wall time</dt><dd>{{task.wall_time|format_time}}</dd>
<dt>Successful</dt><dd>{{task.successful}}</dd>
<dt>Created On</dt><dd>{{task.created_on}}</dd>
<dt>Finished On</dt><dd>{{task.finished_on}}</dd>
<dt>Pre Command</dt><dd><pre class="pre-scrollable">{{task.pre_command}}</pre></dd>
<dt>Output Directory</dt><dd><code>{{task.output_dir}}</code></dd>
<dt>Outputs<strong></strong></dt>
{% for key,val in task.output_paths.items %}
<dd><em>{{key}}</em>:
<code>
{%if task.successful%}
    <a href="{% url jobAttempt_output task.get_successful_jobAttempt.id key%}">{{val}}</a>
{%else %}
    {{val}}
{% endif %}
</code>
</dd>
{% empty %}
<dd>None</dd>
{%endfor%}


</dl>

<h3>JobAttempts</h3>
{% for j in jobAttempts_list %}
<ul>
    <li style="list-style-type:none">
        {%if j.successful%}<i class="icon-thumbs-up" rel="tooltip" title="Successful"></i>{%else%}
        {%if j.queue_status == "completed"%}<i class="icon-thumbs-down" rel="tooltip" title="Successful"></i>{%endif%}{%endif%}
        {%if j.queue_status == 'queued'%}<i class="icon-time" rel="tooltip" title="Job is Queued"></i>{%endif%}
        {%if j.get_drmaa_status == 'job is running'%}<i class="icon-refresh" rel="tooltip" title="Job is running"></i>{%endif%}
        {%if j.get_drmaa_status == 'not sure'%}<i class="icon-question-sign" rel="tooltip" title="Not sure"></i>{%endif%}
        
        <a href="{{j.url}}">{{ j }}</a>
    </li>
</ul>
{% empty %}
  No job attempts in this task.
{% endfor %}

{% endblock %}