{% extends "base.html" %}
{%block content%}


<ul class="breadcrumb">
  <li><a href="/Workflow/">Workflows</a> <span class="divider">/</span></li>
  <li><a href="{{jobAttempt.node.batch.workflow.url }}">{{jobAttempt.node.batch.workflow}}</a> <span class="divider">/</span></li>
  <li><a href="{{jobAttempt.node.batch.url }}">{{jobAttempt.node.batch}}</a><span class="divider">/</span></li>
  <li><a href="{{jobAttempt.node.url }}">{{jobAttempt.node}}</a><span class="divider">/</span></li>
  <li class="active">{{jobAttempt}}</li>
</ul>
<h1>{{jobAttempt}}</h1>
<dl class="dl-horizontal">
<dt>Shell Script</dt><dd><pre class="pre-scrollable">{{jobAttempt.command_script_text}}</pre></dd>
<dt>Output Directory</dt><dd><code>{{jobAttempt.node.job_output_dir}}</code></dd>
<dt>Outputs<strong></strong></dt>
{% for key,val in jobAttempt.node.output_paths.items %}
<dd><em>{{key}}</em>: <a href="{% url jobAttempt_output jobAttempt.id key%}"><code>{{val}}</code></a></dd>
{% empty %}
<dd>None</dd>
{%endfor%}

<dt>Successful</dt>    <dd>{{jobAttempt.successful}}</dd>
<dt>Queue_status</dt>  <dd>{{jobAttempt.queue_status}}</dd>
<dt>Drmaa_status</dt>  <dd>{{jobAttempt.get_drmaa_status}}</dd>
<dt>Drmaa_utime</dt>   <dd>{{jobAttempt.drmaa_utime}} </dd>
<dt>Drmaa_native_specification</dt>  <dd>{{jobAttempt.drmaa_native_specification}}</dd>
{% for key,val in jobAttempt.get_drmaa_info.items %}
  <dt>drmaa_{{key}}</dt>
  <dd>{{val}}</dd>
{% endfor %}
</dl>
<fieldset><legend>STDOUT</legend>
<p>
file_path: <code>{{jobAttempt.STDOUT_filepath}}</code>
</p>
<pre class="pre-scrollable">
{{jobAttempt.STDOUT_txt}}
</pre>
</fieldset>

<fieldset><legend>STDERR</legend>
<p>
file_path: <code>{{jobAttempt.STDERR_filepath}}</code>
</p>
<pre class="pre-scrollable">
{{jobAttempt.STDERR_txt}}
</pre>
</fieldset>
{%endblock%}