{% extends "base.html" %}
{% load extras %}
{%block content%}


<ul class="breadcrumb">
  <li><a href="/Workflow/">Workflows</a> <span class="divider">/</span></li>
  <li><a href="{{jobAttempt.node.batch.workflow.url }}">{{jobAttempt.node.batch.workflow}}</a> <span class="divider">/</span></li>
  <li><a href="{{jobAttempt.node.batch.url }}">{{jobAttempt.node.batch}}</a><span class="divider">/</span></li>
  <li><a href="{{jobAttempt.node.url }}">{{jobAttempt.node}}</a><span class="divider">/</span></li>
  <li class="active">{{jobAttempt}}</li>
</ul>
<h1>{{jobAttempt}}</h1>

<dl class="dl-horizontal">
<dt>Shell Script</dt><dd><pre class="pre-scrollable">{{jobAttempt.get_command_shell_script_text}}</pre></dd>
<dt><em>time</em> Output</dt><dd><a href="{% url jobAttempt_profile_output jobAttempt.id%}"><code>{{jobAttempt.profile_output_path}}</code></a></dd>
<dt>Output Directory</dt><dd><code>{{jobAttempt.node.job_output_dir}}</code></dd>
<dt>Node File Size</dt><dd>{%if settings.show_jobAttempt_file_sizes%}{{jobAttempt.file_size}}{%else%}OFF{%endif%}</dd>
<dt>Outputs<strong></strong></dt>
{% for key,val in jobAttempt.node.output_paths.items %}
<dd><em>{{key}}</em>: <a href="{% url jobAttempt_output jobAttempt.id key%}"><code>{{val}}</code></a></dd>
{% empty %}
<dd>None</dd>
{%endfor%}

<dt>Successful</dt>    <dd>{{jobAttempt.successful}}</dd>
<dt>Queue_status</dt>  <dd>{{jobAttempt.queue_status}}</dd>
<dt>Created On</dt>  <dd>{{jobAttempt.created_on}}</dd>
<dt>Finished On</dt>  <dd>{{jobAttempt.finished_on}}</dd>
<dt>Drmaa JobID</dt>  <dd>{{jobAttempt.drmaa_jobID}}</dd>
<dt>Drmaa status</dt>  <dd>{{jobAttempt.get_drmaa_status}}</dd>
<dt>Drmaa native_specification</dt>  <dd>{{jobAttempt.drmaa_native_specification}}</dd>
<dt>Drmaa info</dt>  <dd>{{jobAttempt.drmaa_info}}</dd>
</dl>

<h4>Resource Usage
	 <i class="icon icon-resize-full" data-toggle="collapse" data-target="#ru_table" style="cursor:pointer"></i>
</h4>
<div id="ru_table" class="collapse">
<table class='table table-condensed'>
	<thead>
	<tr><th>Name</th><th style="padding:0 35px">Value</th><th style="padding:0 35px">Type</th><th>Description</th></tr>
	</thead>
	<tbody>
	{%for name,val,help,type in jobAttempt.resource_usage %}
		<tr>
			<td style="vertical-align:middle"><em>{{name|underscore2space}}</em></td>
			<td style="padding:0 35px; vertical-align:middle">{% format_resource_usage name val %}</td>
			<td style="padding:0 35px; vertical-align:middle">{{type}}</td>
			<td><small>{{help}}</small></td>
		</tr>
		{% empty %}
		<tr><td>No Resource Usage Data</td></tr>
	{%endfor%}
	</tbody>
</table>
	
</div>

<fieldset><legend>STDOUT</legend>
<p>
file_path: <code>{{jobAttempt.STDOUT_filepath}}</code>
</p>
<pre class="pre-scrollable">
{{jobAttempt.STDOUT_txt}}
</pre>
</fieldset>

<fieldset><legend>STDERR</legend>
<p>
file_path: <code>{{jobAttempt.STDERR_filepath}}</code>
</p>
<pre class="pre-scrollable">
{{jobAttempt.STDERR_txt}}
</pre>
</fieldset>
{%endblock%}