{% load extras %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Cosmos</title>
    <!-- Bootstrap -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
  </head>
  <body>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript">
    $(function() {
	    $('[rel=tooltip]').tooltip()
    });
    </script>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Cosmos</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="{% navactive request "home"%}"><a href="/">Home</a></li>
              <li class="{% navactive request "Workflow"%}"><a href="/Workflow/">Workflows</a></li>
              <li class="{% navactive request "SGE"%}"><a href="/SGE/">SGE</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    <div class="container">
    {%block content%}{%endblock%}
    <hr>
    <footer>
        <p>© Erik Gafni</p>
     </footer>
    </div>
  </body>
</html>