{% extends "base.html" %}
{% load extras %}
{%block content%}

<ul class="breadcrumb">
  <li><a href="/Workflow/">Workflows</a> <span class="divider">/</span></li>
  <li><a href="{{node.batch.workflow.url }}">{{node.batch.workflow}}</a> <span class="divider">/</span></li>
  <li><a href="{{node.batch.url }}">{{node.batch}}</a><span class="divider">/</span></li>
  <li class="active">{{node}}</li>
</ul>

<div class="alert alert-warning">
    <h1>
        {%if node.successful%}<i class="icon-thumbs-up" rel="tooltip" title="Successful"></i>{%endif%}
        {%if node.status == "failed"%}<i class="icon-thumbs-down" rel="tooltip" title="Failed"></i>{%endif%}
        {{node}}
    </h1>

<p>
</p>
</div>

<dl class="dl-horizontal">
<dt>Status</dt><dd>{{node.status}}</dd>
<dt>Memory Requirement</dt><dd>{{node.memory_requirement}}</dd>
<dt>File_size</dt><dd>{{node.file_size}}</dd>
<dt>Time_to_run</dt><dd>{{node.time_to_run|format_time}}</dd>
<dt>Successful</dt><dd>{{node.successful}}</dd>
<dt>Pre Command</dt><dd><pre class="pre-scrollable">{{node.pre_command}}</pre></dd>
<dt>Output Directory</dt><dd><code>{{node.output_dir}}</code></dd>
</dl>

<h3>JobAttempts</h3>
{% for j in jobAttempts_list %}
<ul>
    <li style="list-style-type:none">
        {%if j.successful%}<i class="icon-thumbs-up" rel="tooltip" title="Successful"></i>{%else%}
        {%if j.queue_status == "completed"%}<i class="icon-thumbs-down" rel="tooltip" title="Successful"></i>{%endif%}{%endif%}
        {%if j.queue_status == 'queued'%}<i class="icon-time" rel="tooltip" title="Job is Queued"></i>{%endif%}
        {%if j.get_drmaa_status == 'job is running'%}<i class="icon-refresh" rel="tooltip" title="Job is running"></i>{%endif%}
        {%if j.get_drmaa_status == 'not sure'%}<i class="icon-question-sign" rel="tooltip" title="Not sure"></i>{%endif%}
        
        <a href="{{j.url}}">{{ j }}</a>
    </li>
</ul>
{% empty %}
  No job attempts in this node.
{% endfor %}

{% endblock %}